table {
  /* width: 50%; */
	overflow-x: scroll;
}

.title {
  /* padding: 2rem; */
	/* width: 100%; */
  background-color: rgb(99, 99, 99);
  text-align: center;
  color: white;
}

.container {
  /* margin: 2rem 0; */
  background-color: aqua;
	/* width: 100%; */
}

td,
th {
  /* width: 14%; */
}
