table {
  width: 100%;
	margin-bottom: 2rem;
}

.mat-mdc-form-field {
  /* font-size: 2rem; */
  width: 100%;
}

td,
th {
  text-align: center;
}

.accionesBtn {
  cursor: pointer;
  margin: 0 0.2rem;
}

.agregarBtn {
  font-size: 12px;
  line-height: 24px;
}

:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
}

:host ::ng-deep .mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 1px;
}

:host ::ng-deep .mat-mdc-paginator-container {
  flex-wrap: wrap;
}
