<div class="title">
	<h1>Ver Mascota</h1>
</div>

<div class="container">

	<mat-card class="card">
		<mat-card-title>Milton</mat-card-title>
		<mat-card-content>
			<p><strong>Dueño:</strong>Rama</p>
			<p><strong>Tipo:</strong>Gato</p>
			<p><strong>Edad:</strong>4 años</p>
			<p><strong>Raza:</strong>Callejero</p>
			<p><strong>Color:</strong>Blanco</p>
			<p><strong>Peso:</strong>8 Kg</p>
		</mat-card-content>
		<mat-card-actions>
			<button
				routerLink="/mascotas"
				mat-raised-button
				color="primary"
			>Volver</button>
		</mat-card-actions>
	</mat-card>

</div>