<div class="title mat-elevation-z10">
	<h1>Ver Mascota</h1>
</div>

<div class="container ">
	<div
		*ngIf="mascota != null"
		class="containerWrapper"
	>

		<div class="card mat-elevation-z10">
			<h2>{{mascota.nombre}}</h2>
			<div>
				<p><strong>Dueño:</strong> {{mascota.duenio}}</p>
				<p><strong>Tipo:</strong> {{mascota.tipo}}</p>
				<p><strong>Edad:</strong> {{mascota.edad}} años</p>
				<p><strong>Raza:</strong> {{mascota.raza}}</p>
				<p><strong>Color:</strong> {{mascota.color}}</p>
				<p><strong>Peso:</strong> {{mascota.peso}} Kg</p>
			</div>

			<button
				routerLink="/mascotas"
				mat-raised-button
				color="primary"
			>Volver</button>

		</div>
	</div>

	<div
		*ngIf="mascotaFetchFailed"
		class="containerWrapper"
	>

		<div class="card mat-elevation-z10">

			<h3>Error al cargar la mascota</h3>

			<button
				routerLink="/mascotas"
				mat-raised-button
				color="primary"
			>Volver</button>

		</div>
	</div>

</div>