/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;


}
body {
  margin: 0;

}



.title {
  padding: 2rem;
  background-color: rgb(99, 99, 99);
  text-align: center;
  color: white;
}

.container {
	padding: 2rem;
	
}